@charset "UTF-8";


@media screen and  (max-width:768px) {

 #burguer{
    font-size: 2em;
    display: block;
    background-color: #F3B562;
    text-align: center;
    padding: 10px;
    cursor: pointer;
 }

 nav ul li{
   display: block;
 
}



}